/*
	在750屏幕下
	1vw = 7.5px
	100vw = 750px
	60px = 0.13333vw * 60px = 8vw
 */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 5.3332vw;
}
.box {
  width: 1.5rem;
  height: 50px;
  background: red;
}
